h1 {
	color: #666666;
	margin-bottom: 30px;
	margin-top: 30px;
}

h2, h4 {
	color: #777;
}

h3 {
	color: #FF6400;
	margin-top: 10px;
}

.btn {
	border-radius: 0px;
	border: none;
}
.btn-default {
	background-color: #EEE;
}
.btn-default:hover {
	background-color: #CCC;
}

.navbar-inverse .navbar-nav > li > a {
	color: #999;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
}

.navbar-inverse .navbar-brand:hover {
	color: #CCC;
}

.navbar .tooltip-inner {
	max-width: 300px;
	width: 300px;
}

#container {
	margin-top: 50px;
}
.box {
	display: none;
}

.box h3 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.tooltip {
	width: 140px;
	opacity: 0.7 !important;
}

.tooltip-inner {
	border-radius: 0px;
}

#logo {
	position: relative;
	top: -9px;
	vertical-align: top;
	margin-right: 12px;
}

#download-arrow {
	position: fixed;
	right: 100px;
	top: 60px;
	z-index: 10;
}

#developper-gears {
	position: absolute;
	top: 247px;
	z-index: 10;
}

#developper-button {
	position: absolute;
	top: 438px;
	z-index: 10;
	left: 300px;
	border: solid 1px #CCC;
}

#developper-button:hover {
	background-color: #DDD;
}

#fixed-box {
	position: fixed;
	min-height: 100%;
}

#download-button {
	position: relative;
	top: 1px;
	height: 51px;
	margin-top: -1px;
	background-color: #5CB85C;
}
#download-button a {
	font-size: 1.1em;
	line-height: 0.8;
	color: #FFF !important;
}
#download-button:hover,
#download-button:focus,
#download-button:active {
	background-color: #76C176;
}

#download-box img.screen {
	display: none;
}

.help {
	vertical-align: middle;
	cursor: pointer;
	margin-left: 5px;
}

#sondage iframe {
	width: 100%;
	height: 1000px;
	border: solid 1px #CCC;
	border-radius: 5px;
}

#bug {
	margin-left: 40px;
}

.feature {
	border-radius: 0px;
}

.feature-img {
	display: inline-block;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.feature img {
	padding: 5px;
}

.icon-browser {
	padding-left: 24px;
	background-repeat: no-repeat;
	background-position: 0px 2px;
}

.icon-browser.firefox {
	background-image: url("../img/firefox.png");
}

.icon-browser.chrome {
	background-image: url("../img/chrome.png");
}

.icon-browser.opera {
	background-image: url("../img/opera.gif");
}

.gm-enabled {
	display: none;
	color: green;
	margin-left: 10px;
}

.donation-download-button {
	position: fixed;
	bottom: 20px;
	right: 30px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	background-color: #FF6400;
	font-size: 1.1em;
}



@media (max-width: 1200px) {
	.feature-img,
	.feature img {
		max-width: 100%;
	}

	#download-arrow {
		width: 300px;
	}

	#developper-gears {
		width: 320px;
	}

	#developper-button {
		top: 388px;
		left: 200px;
	}
}

@media (max-width: 992px) {
	.feature img {
		max-width: 100%;
	}

	#download-arrow,
	#developper-gears {
		display: none;
	}

	#developper-button {
		top: 75px;
		right: 50px;
		left: auto;
	}

	#download-button .spawnkill-label {
		display: none;
	}

	#bug {
		margin-left: 10px;
	}

	#fixed-box {
		position: static;
	}

	.tooltip {
		display: none !important;
	}
}
