Options -Indexes
Options +FollowSymLinks

RewriteEngine On

# dl.spixel.fr/get-spawnkill/* -> www.spawnkill.fr/*
RewriteCond %{HTTP_HOST} ^dl.spixel.fr$
Rewritecond %{REQUEST_URI} ^/get-spawnkill
RewriteRule ^(.*?)$ http://www.spawnkill.fr/$1 [R=301,L]

# spawnkill.fr/* -> www.spawnkill.fr/*
RewriteCond %{HTTP_HOST} ^spawnkill.fr$
RewriteRule ^(.*)$ http://www.spawnkill.fr/$1 [R=301,L]